<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets/logo1.png" alt="Company Logo" class="logo">
        <p>&copy; {{ currentYear }}</p>
      </div>
      <div class="footer-details">
        <p class="footer-version-title">Version</p>
        <p class="footer-version">1.0.0</p>
      </div>
      <div class="footer-about">
        <p class="footer-about-title">About</p>
        <p>Contact Us</p>
        <p>Privacy</p>
        <p>Terms of Use</p>
      </div>
    </div>
</footer>